# Node.js Development Configuration
NODE_ENV=development
PORT=3001

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

# PostgreSQL Configuration
POSTGRES_DB=points_bd
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123456
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
